In [1]:
import warnings
warnings.filterwarnings("ignore",)
warnings.filterwarnings("always",)
import pandas as pd
from sqlalchemy import create_engine, text
import pymysql

In [2]:
_maria = {'host': '192.168.101.224', 'port' : 3306, 'user':'root', 'password': 'hello.dp12#$', 'db': 'chat'}

def load_mysql(config: dict, sql: str,) -> pd.DataFrame:
    try:
        db = pymysql.connect(host=config['host'], port=config['port'], user=config['user'], password=config['password'], db=config['db'])
        cursor = db.cursor()
        cursor.execute(sql)
        rows = cursor.fetchall()
        columns = [col[0] for col in cursor.description]
        df = pd.DataFrame(rows, columns=columns)
        cursor.close()
        return df
    except Exception as e:
        print(f"Error loading data from MySQL: {e}")
        return pd.DataFrame()


df = load_mysql(_maria, f"SELECT * FROM chat.lg_base_log",)

In [3]:
df

,id,level,type,message,created_by,client_ip,user_agent,created_at,metadata
0,1,INFO,API_CALL,GET /api/v1/chat 호출 성공,None,hello,hi,2025-08-07 11:05:53,"{""hello"":""world""}"
1,2,INFO,API_CALL,GET /api/v1/chat 호출 성공,None,hello,hi,2025-08-07 11:05:54,"{""hello"":""world""}"
2,3,INFO,API_CALL,GET /api/v1/chat 호출 성공,None,hello,hi,2025-08-07 11:05:55,"{""hello"":""world""}"
3,4,INFO,API_CALL,GET /api/v1/chat 호출 성공,None,hello,hi,2025-08-07 11:05:56,"{""hello"":""world""}"
4,5,INFO,API_CALL,GET /api/v1/chat 호출 성공,None,hello,hi,2025-08-07 11:17:05,"{""hello"":""world""}"
5,6,INFO,API_CALL,GET /api/v1/chat 호출 성공,user123,hello,hi,2025-08-07 11:28:25,"{""hello"":""world""}"
6,7,INFO,API_CALL,GET /api/v1/chat 호출 성공,user123,hello,hi,2025-08-07 13:39:52,"{""hello"":""world""}"
7,8,INFO,API_CALL,GET /api/v1/chat 호출 성공,user123,hello,hi,2025-08-07 13:39:53,"{""hello"":""world""}"